GEMINI_API_KEY=AIzaSy***********mVg
ACCESS_PASSWORD=banana
ACCESS_TOKEN_TTL_MINUTES=720
GEMINI_MODEL_NANO_BANANA=gemini-2.5-flash-image
GEMINI_MODEL_NANO_BANANA_PRO=gemini-3-pro-image-preview
GEMINI_MODEL_NANO_BANANA_2=gemini-3.1-flash-image-preview
PORT=3001
